<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Boot User Authentication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form role="form" th:action="@{/user/register}" th:method="post">
    <lable>Name</lable>
    <input type="text" id="name" name="name">

    <lable>Surname</lable>
    <input type="text" id="surname" name="surname">

    <lable>Email</lable>
    <input type="text" id="email" name="email">

    <lable>Password</lable>
    <input type="password" id="password" name="password">

    <input type="submit">
</form>
</body>
</html>